@import './diy.css';

html, body,#app{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* 设置滚动条的宽度和颜色 */
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  border-radius: 5px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* 滚动条-thumb 滑块 */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* 当鼠标悬停在滚动条上时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* *{
  background-color: rgba(255, 0, 0, 0.03);
} */